 <link href="./css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
  <div class="landing_main-section">
  	<div class="row">
  		<div class="sidebar">
  			<ul class="list-group sidebar-buttons">
			  <a href="#" ui-sref="dashboard.mainDashboard" style="text-decoration:none"><li class="list-group-item">Dashboard</li><a>
			  <a href="#" style="text-decoration:none" ui-sref="dashboard.tipapproval"><li class="list-group-item">Tips Approval</li><a>
			  <a href="#" style="text-decoration:none"><li class="list-group-item">Readymade Code</li><a>
			   <a href="#" style="text-decoration:none" ui-sref="dashboard.userAuthentication"><li class="list-group-item">User Authentication</li><a>
			   <a href="#" style="text-decoration:none"><li class="list-group-item">Add Practice Test</li><a>
			
			</ul>
  		</div>
  		<div class="space-div">
  			<nav class="navbar navbar-expand-lg navbar-light">
			  <a class="navbar-brand" style="font-size: 20px;padding-top:10px;font-weight:bold;color:#43B05F" href="#">CODE_TO_DEVELOP</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			 <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Link</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Disabled</a>
			      </li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0">
			      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    </form>
			  </div>-->
			</nav>

			<div ui-view></div>
  		</div>
  	</div>
  	
  </div>